-
    var tabs = [
        {href: '#tab-1', firstText: 'Mobile Apps - UX / UI', secondText: 'Payme Mobile App', class: "tab-btn active-tab"},
        {href: '#tab-2', firstText: 'Mobile Apps - UX / UI', secondText: 'Interactive Agency', class: "tab-btn"},
        {href: '#tab-3', firstText: 'Mobile Apps - UX / UI', secondText: 'Nava.com Website', class: "tab-btn"},
        {href: '#tab-4', firstText: 'Mobile Apps - UX / UI', secondText: 'Virtus Dashboard', class: "tab-btn"}
    ]

-
    var tabsContent = [
        {class: 'tab-content active-content', 
        id: 'tab-1', 
        titleLink: 'Payme', 
        titleText: 'Mobile App', 
        tabText: 'Payme is a best & simplest way to create your own mobile payment app and fit in with as much information as you want. Perfect base to build an amazing app with easy navigation and intuitive UX.',
        tabBtn: 'SEE CASE STUDY',
        imgFirstSrc: './img/mob_app1.jpeg',
        imgFirstClass: 'tab__img-shadow',
        imgSecondSrc: './img/mob_app2.jpeg',
        imgSecondClass: 'tab__img-shadow'
     },
        {class: 'tab-content', 
        id: 'tab-2', 
        titleLink: 'Payme', 
        titleText: 'Interactive Agency', 
        tabText: 'Payme is a best & simplest way to create your own mobile payment app and fit in with as much information as you want. Perfect base to build an amazing app with easy navigation and intuitive UX.',
        tabBtn: 'SEE CASE STUDY',
        imgFirstSrc: './img/mob_app1.jpeg',
        imgFirstClass: 'tab__img-shadow',
        imgSecondSrc: './img/mob_app2.jpeg',
        imgSecondClass: 'tab__img-shadow'
     },
        {class: 'tab-content', 
        id: 'tab-3', 
        titleLink: 'Payme', 
        titleText: 'Nava.com Website', 
        tabText: 'Payme is a best & simplest way to create your own mobile payment app and fit in with as much information as you want. Perfect base to build an amazing app with easy navigation and intuitive UX.',
        tabBtn: 'SEE CASE STUDY',
        imgFirstSrc: './img/mob_app1.jpeg',
        imgFirstClass: 'tab__img-shadow',
        imgSecondSrc: './img/mob_app2.jpeg',
        imgSecondClass: 'tab__img-shadow'
     },
        {class: 'tab-content', 
        id: 'tab-4', 
        titleLink: 'Payme', 
        titleText: 'Virtus Dashboard', 
        tabText: 'Payme is a best & simplest way to create your own mobile payment app and fit in with as much information as you want. Perfect base to build an amazing app with easy navigation and intuitive UX.',
        tabBtn: 'SEE CASE STUDY',
        imgFirstSrc: './img/mob_app1.jpeg',
        imgFirstClass: 'tab__img-shadow',
        imgSecondSrc: './img/mob_app2.jpeg',
        imgSecondClass: 'tab__img-shadow'
     }
    ]
section.mobile#mobile
    .container(class='mobile__container')
        .tabs-content
            each tabContent in tabsContent
                article(class=tabContent.class id=tabContent.id)
                    figur.mobile__tab-figur
                        figcaption.mobile__tab-figcaption 
                            h1.mobile__tab--title
                                a.mobile__tab--title-link(href="#")= tabContent.titleLink 
                                span.mobile__tab--title-text= tabContent.titleText 
                            p.mobile__tab-text= tabContent.tabText
                            button.btn.wave.left.mobile-btn= tabContent.tabBtn
                        .mobile__tab-img
                            .tab-img-left
                                img.img-left(src=tabContent.imgFirstSrc class=tabContent.imgFirstClass)
                            .tab-img-right
                                img.img-right(src=tabContent.imgSecondSrc class=tabContent.imgSecondClass)

        .tab-btns
            span.line

            each tab in tabs
                a(href=tab.href class=tab.class)
                    p.mobile_tab-top= tab.firstText
                    p.mobile_tab= tab.secondText